{% if item.is_dir %}
	{% if h is not defined %}
		{% set h = 2 %}
	{% endif %}
	{% if item.children %}
		<a name="report_{{item.Id}}" href='#'>.</a>
		<h{{h < 5 ? h : 5}} class="{% if not item.Title %}no_title{% endif %}">
			{% if item.Title %}{{item.Title}}{% else %}{{item.Name}}{% endif %}
			<button type='button' class='btn' data-toggle="collapse" data-target="#report_{{item.Id}}_children"><span class='caret'></span></button>
		</h{{h < 5 ? h : 5}}>
		<div class='collapse {% if item.Title %}in{% endif %}' id='report_{{item.Id}}_children'>
            {% if item.Description %}
                <p>{{ item.Description|raw }}</p>
            {% endif %}
            
			<ul class='nav nav-list well'>
				{% for item in item.children %}
					<li>		
						{% set h = h + 1 %}
						{% include "@BootstrapReports/Default/html/report_list_item.twig" %}
						{% set h = h - 1 %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% elseif not item.ignore is defined or not item.ignore %}
	<a class='pull-right' href='{{ url('eidsonator_reports_display', {report : item.get}) }}' style='margin-left: 5px; opacity:.6;'>
		<img alt='Export CSV File' title='Export CSV File' src="{{ asset('bundles/bootstrapreports/images/images/document-excel-csv.png') }}"/></a>
	<a href='{{ url('eidsonator_reports_display', {report : item.get}) }}' id='report_{{item.Id}}'>
		{{item.Name}}
		{% if item.stop is defined and item.stop %}
			<img alt='Stop!' title='Stop!' src="{{ asset('bundles/bootstrapreports/images/images/traffic-light-red.png') }}"/>
		{% endif %}
		{% if item.Caution is defined or item.warning is defined %}
			<img alt='Caution!' title='Caution!' src="{{ asset('bundles/bootstrapreports/images/images/prohibition.png') }}"/>
		{% endif %}
		{% if item.Variables is defined %}
			<img alt='Configurable' title='Configurable' src="{{ asset('bundles/bootstrapreports/images/images/wrench.png') }}"/>
		{% endif %}
		{% if item.Charts  is defined%}
			<img alt='Contains graphs/charts' title='Contains graphs/charts' src="{{ asset('bundles/bootstrapreports/images/images/chart.png') }}"/>
		{% endif %}
		{% if item.Detail is defined %}
			<img alt='Contains drill down links' title='Contains drill down links' src="{{ asset('bundles/bootstrapreports/images/images/drill.png') }}" />
		{% endif %}
		{% if item.expensive is defined %}
			<img alt='Expensive to run' title='Expensive to run' src="{{ asset('bundles/bootstrapreports/images/images/money_dollar.png') }}"/>
		{% endif %}
		{% if item.Created is defined and item.Created|slice(0,10)|date('U') > date("-2 weeks")|date('U') %}
			<img alt='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' title='Created on {{item.Created|slice(0,10)|date('Y-m-d')}}' src="{{ asset('bundles/bootstrapreports/images/images/new_icon.gif') }}" />
		{% endif %}
	</a>
{% endif %}
